@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
body{
  font-family: 'Hanna', serif;
  margin:0px;
}
.half_input_dash{
  width: 20px;
  height: 100%;
  display: inline-block;
  position: relative;
  left: 5px;
  outline:none;
}
.half_input{
  height:100%;
  background-color:#e9e9e9;
  border:none;
  outline:none;
  padding:5px;
}
.half_input_{
  height:100%;
  background-color:#e9e9e9;
  border:none;
  outline:none;
}
.normal_input{
  width:100%;
  height:100%;
  background-color:#e9e9e9;
  border:none;
  outline:none;
  padding:5px;
}
.line_input{
  height:40px;
}
.line_tag{
  color:gray;
  font-size:12px;
  margin-left:10px;
  margin-top:10px;
}
.full_width{
  margin:10px;
  margin-top:5px;
}
.header{
  line-height:60px;
  background-color:#cfced7;
  height:60px;
}
.header_left_text{
  float:left;
  margin-left:10px;
}
.header_right_text{
  float:right;
  margin-right:10px;
}
.clear{
  clear:both;
}
