@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
body{
  font-family: 'Hanna', serif;
  margin:0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.half_input_dash{
  width: 20px;
  height: 100%;
  display: inline-block;
  position: relative;
  left: 5px;
  outline:none;
}
.half_input{
  height:100%;
  background-color:#e9e9e9;
  border:none;
  outline:none;
  padding-left:10px;
}
.half_input_{
  height:100%;
  background-color:#e9e9e9;
  border:none;
  outline:none;
}
.normal_input{
  width:100%;
  height:100%;
  background-color:#e9e9e9;
  border:none;
  outline:none;
  padding-left:10px;

}
.line_input{
  height:40px;
}
.line_tag{
  color:gray;
  font-size:12px;
  margin-left:10px;
  margin-top:10px;
}
.full_width{
  margin:10px;
  margin-top:5px;
}
.header{
  line-height:60px;
  background-color:#cfced7;
  height:60px;
}
.header_left_text{
  float:left;
  margin-left:10px;
}
.header_right_text{
  float:right;
  margin-right:10px;
}
.clear{
  clear:both;
}

.btn{
  width: 100%;
  height: 60px;background-color: #e13c3a;
  color: white;
  text-align: center;
  line-height: 60px;
  position: absolute;
  bottom:80px;
}
#blank{
  width: 100px;
  height: 300px;
}
#bd{
  padding-top: 10px;
  height: 500px;
  overflow:scroll;
}
