@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
body{
  font-family: 'Hanna', serif;
  margin:0px;
}
.header{
  background-color:#E23B3A;
  color:#ffffff;
  text-align:center;
  width:100%;
  height:30px;
  line-height:30px;
}
.contents{
  width:366.5px;
}
#point{
  background-color:#E23B3A;
  color:#ffffff;
  text-align:center;
  width:100%;
  height:30px;
  line-height:30px;
}
.contents_title_line{

}
.contents_title{
  width:150px;
  height:30px;
  margin:10px;
  display:inline-block;
  color:#ffffff;
  background-color:#E23B3A;
  border-radius:10px;
  text-align:center;
  line-height:30px;

}
.cash_box{
  width: 100px;
  height: 100px;
  line-height: 80px;
  text-align: center;
  border: 1px solid #E23B3A;
  margin: 4px;
  color: gray;
  border-radius: 10px;
  display: inline-block;
}
.cash_box_help{
  line-height: 30px;
  background-color: #E23B3A;
  color: #ffffff;
  width: 80px;
  height: 30px;
  position: relative;
  left: 11.5;
  bottom: 15px;
}
.cash_help{
  font-size: 11px;
  line-height: normal;
  margin-top: 70px;
  color: gray;
  position: relative;
  bottom: 37px;
}
