*{
  margin:0px;
  padding:0px;
}
html, body {
    position: relative;
    height: 100%;
    background-color:#ffffff;
}
body {
    background: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#ffffff;
    margin: 0;
    padding: 0;
}
.menu_icon{
  width:24px;
  height:24px;
}
.menu_text{
  color:gray;
  font-size:12px;
}
.icon_img{
  width:24px;
  height:24px;
}
#load{
  position:fixed;
  z-index:30;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  display:none;
  background-color: rgba(0,0,0,0.6);
}
.title_container{
  background-color:#AE5BFC;
  width:100%;
  height:40px;
  line-height:40px;
}
.title_text{
  color: white;
  font-weight: bold;
  position: relative;
  top: 2px;
  left: 5px;
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
  display: inline;
}
.navigator_container{
  height:50px;
  background-color:#ffffff;
  width:100%;
  color:black;
  border: 2px solid #e9e9e9;
  border-top: none;
  border-left: none;
  border-right: none;
}

.menu{
  display:inline-block;
  width:20%;
  float:left;
  text-align:center;
  position: relative;
  top: 8px;
}
.selected_menu{
  color:#6379FF;
}
#content_iframe{
  width:100%;
  height:100%;
  border:none;
}
.modal{
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  position:fixed;
  z-index:40;
  background-color:rgba(0,0,0,0.3);
  display:none;
}
.modal_sex_contents{
  margin-top:45%;
  width:200px;
  height:120px;
  background-color:#ffffff;
  border-radius:10px;
}
.modal_camera_contents{
  margin-top:45%;
  width:200px;
  height:120px;
  background-color:#ffffff;
  border-radius:10px;
}
.modal_title_contents{
  margin-top:45%;
  width:200px;
  height:300px;
  background-color:#ffffff;
  border-radius:10px;
  overflow:auto;
}
.modal_exit_btn{
  width:80px;
  height:40px;
  line-height:40px;
  display:inline-block;
  color:#efefef;
  border-radius:5px;
}
.modal_exit_title{
  text-align:center;
  height:60px;
  line-height:60px;
  color:black;
}
.modal_exit_contents{
  margin-top:60%;
  width:200px;
  height:120px;
  background-color:#ffffff;
  border-radius:10px;
}
.modal_line{
  width:100%;
  height:60px;
  line-height:60px;
  color:#000000;
  font-size:20px;
}
.modal_line:hover{
  background-color:#ff999a;
}
.menu_icon{
  width:50px;
  height:50px;
}
.modal_send_msg_contents{
  width:250px;
  height: 258px;
  background-color:white;
  border-radius:20px;
  margin-top:30%;
}
.modal_send_msg_header{
  background-color:#ff999a;
  height:50px;
  line-height:50px;
  font-size:20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.modal_send_msg_img{
  margin-top:10px;
  margin-bottom:10px;
  height:100px;
}
.modal_send_msg_input{
  height:40px;
}
#input_send_msg{
  background-color:#e7e7e7;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  border: 5px solid white;
}
.modal_send_btn{
  display:inline-block;
  width:155px;
  height:40px;
  line-height:40px;
  background-color:#ff999a;
  border-radius:10px;
}
.modal_send_close_btn{
  display:inline-block;
  width:80px;
  height:40px;
  line-height:40px;
  background-color:gray;
  border-radius:10px;
}
.title_point{
  position:absolute;
  top: 1px;
  right: 22px;
}
#imageView{
  width:100%;
  height:100%;
  display:none;
  position:absolute;
  left:0px;
  top:0px;
}
#imageViewIframe{
  border:none;
}
.modal_location{
  width:220px;
  height:100px;
  background-color:white;
  border-radius:5px;
  color:black;
  margin-top: 40%;
}
.modal_location_line{
  height:40px;
  line-height:40px;
  text-align:left;
  font-size:12px;
  padding-left:10px;
}
.modal_location_btn{
  background-color:#ff999a;
  height:20px;
  color:white;
  padding:10px;
  line-height:20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.close_btn_box{
  background-color:#ff999a;
  width:30px;
  height:30px;
  border: 3px solid white;
  position: relative;
  left: 105;
  bottom: 130;
  border-radius:30px;
}
.close_btn{
  margin-top:5px;
}
