*{
  margin:0px;
  padding:0px;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.card_container{
  width:100%;
  height:60%;
}
.title_container{
  background-color:#E53A40;
  width:100%;
  height:60px;
}
.navigator_container{
  height:60px;
  background-color:#e9e9e9;
  width:100%;
}
.navigator_line{
  width:16.6%;
  height:1px;
  background-color:#30A9DE;
  position:relative;
}
.menu{
  display:inline-block;
  width:16.6%;
  float:left;
  text-align:center;
}
.request_face_chat{
  width:300px;
  background-color:#E53A40;
  border-radius:20px;
  height:60px;
}
