.text_detail{
  font-size:12px;
  color:#ababab;
}
.text_name{
  color:gray;
  position:relative;
  bottom:10px;
}
.rank_list_box{
  height:400px;
}
.line_nickname{
  margin-top: 18px;
  font-size: 16px;
  color:#ff6c6c;
}
.line{
  width:100%;
  height:100px;
  background-color:#ffffff;
  border:0.1px solid #e9e9e9;
  border-left:none;
  border-right:none;
  border-bottom:none;
}
.img_left{
  width:120px;
  height:100%;

  float:left;
}
.image_box{
  color:#ffffff;
  width:80px;
  height:80px;
  margin-top: 10px;
  text-align: center;
  line-height: 80px;
}
.send_message{
  margin-top: 20px;
  text-align: center;
  line-height: 60px;
  width: 40px;
  height: 60px;
  float: left;
  font-size: 8px;
}
.line_left_margin{
  margin-left: 20px;
}
.img{
  border-radius:40px;
}
.line_text{
  font-size: 14px;
  color:#000000;
}
.icon_box1{
  width:120px;
  height:100%;

  float:right;
}
.line_normal{
  color:#e9e9e9;
  font-size:12px;
}
.line_contents{
  width:200px;
  height:100%;

  float:left;
}
.call_facechat{
  margin-left: 20px;
  margin-top:20px;
  text-align:center;
  line-height: 60px;
  width: 40px;
  height: 60px;
  float:left;
  font-size: 8px;
}


.content_img{
  border: 5px solid #DDB8FE;
  border-radius:100px;
}

.reload_icon{

}
.reload_icon_text{
  color:#fcfcfc;
  text-align:center;
}
.swiper-container {
    width: 100%;
    height: 100%;
    background:linear-gradient(0deg,#ffffff 50%,#DDB8FE 50%);
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(255,255,255,0);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.card_container{
  width:100%;
  height:300px;
}


.request_face_chat{
  line-height: 70px;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #d35886;
  color: #fcfcfc;
  z-index:1;
  text-align:center;
}
 .profile_text{
   width:200px;
   height:40px;
   line-height:40px;
   font-size:25px;
   color:#000000;
 }
 .profile_title{
   color:#000000;
 }
 .profile_button_box{
   margin-top:10px;
   line-height:4;
   width:100%;
   height:60px;
   background-color:white;
 }
.profile_btn{
  width:80px;
  height:40px;
  display:inline-block;
  line-height:40px;
  border-radius:5px;
  background-color:#AE5BFC;
  color:#ffffff;
}

.swiper-button-next{

}
 .content_contanier{


 }
 .content_select{
   border-radius:10px;
   box-shadow: -1px -1px 16px 3px;
 }
.rank_circle{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #AE5BFC;
  color: #ffffff;
  position: absolute;
}
.rank_text{
  position: relative;
  bottom: 24px;
}
.content_img_box{
  border:5px solid #ffffff;
  border-radius:105px;
}
