@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
body{
  font-family: 'Hanna', serif;
  margin:0px;
}
body{
  background-color:#e9e9e9;
}
#contents{
  width:100%;
  height:auto;
}
.line_left_margin{
  margin-left: 20px;
}
.option_container{
  height:40px;
  background-color:#e9e9e9;
  border:2px solid #e9e9e9;
  color:black;
  border-top:none;
  border-left:none;
  border-right:none;
}
.option_menu{
  width:16.6%;
  float:left;
  text-align:center;
  position:relative;
  top:12px;

}
.line{
  width:100%;
  height:100px;
  background-color:#ffffff;
  border:0.1px solid #e9e9e9;
  border-left:none;
  border-right:none;
  border-bottom:none;
}
.img_left{
  width:120px;
  height:100%;

  float:left;
}
.img{
  border-radius:40px;
}
.image_box{
  color:#ffffff;
  width:80px;
  height:80px;
  margin-top: 10px;
  text-align: center;
  line-height: 80px;
}
.send_message{
  margin-top: 20px;
  text-align: center;
  line-height: 60px;
  width: 40px;
  height: 60px;
  float: left;
  font-size: 8px;
}
.call_facechat{
  margin-left: 20px;
  margin-top:20px;
  text-align:center;
  line-height: 60px;
  width: 40px;
  height: 60px;
  float:left;
  font-size: 8px;
}
.line_contents{
  width:200px;
  height:100%;

  float:left;
}
.icon_box{
  width:120px;
  height:100%;

  float:right;
}
.line_text{
  font-size: 14px;
  color:#000000;
  margin-top: 4px;
}
.line_nickname{
  margin-top: 18px;
  font-size: 16px;
  color:#ff6c6c;
}
.girl{
  color:#ff6c6c;
}
.man{
  color:#6379FF;
}
.line_normal{
  color:#e9e9e9;
  font-size:12px;
}
.select_option{
  color:#ff6c6c;
}
