html,body{
  margin:0px;
}
body{
  background-color:#bed1dd;
}
.header{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:60px;
  line-height:60px;
  border:1px solid #afc1cb;
  border-left:none;
  border-right:none;
  border-top:none;
}
.footer{
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  height:60px;
}

.content_container{
  margin-top:60px;
  width:100%;
  height:auto;
}
.reverse_arrow{
  margin-top:10px;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.header_title{
  color:#47494a;
  display: inline-block;
  font-size: 25px;
  position: relative;
  bottom: 10px;
}
.plus_icon_box{
  width:60px;
  height:60px;
  background-color:#d1d1d1;
  float:left;
}
.plus_icon{
  margin-top:15px;
  margin-left:15px;
}
.talk_input_box{
  width:100%;
  background-color:white;
  height:60px;
  float:left;
}
.talk_input{
  width:inherit;
  height:inherit;
  margin-top:10px;
  height:40px;
  border:none;
}
.confirm_box{
  width:80px;
  height:60px;
  float:left;
  background-color:white;
}
.confirm{
  width:70px;
  height:40px;
  margin-left:5px;
  background-color:#ddd485;
  position: relative;
  bottom: 5px;
  line-height:40px;
}
.confirm_text{
  text-align:center;
}
.clear{
  clear:both;
}
.chatbubble_target{
  width:50px;
  height:50px;
  padding:10px;
  border-radius:10px;
  background-color:#fdf01b;
}
.chatbubble_me{
  width:50px;
  height:50px;
  padding:10PX;
  border-radius:10px;
  background-color:#fafbfc;
}
.content_me{
  width:45%;
  float:right;
}
.content_target{
  width:45%;
  float:left;
}
.nickname{
  display:inline-block;
}
.endline{
  width:100%;
  height:1px;
}
/*#fdf01b
/*#fafbfc;
